# ---- Backend ----
POSTGRES_DB=project
POSTGRES_USER=admin
POSTGRES_PASSWORD=eenheelsterkwachtwoord
DATABASE_URL=postgresql+psycopg://admin:eenheelsterkwachtwoord@db:5432/project
ADMIN_USERNAME=admin
ADMIN_PASSWORD=1234
SECRET_KEY=een_lange_random_string_voor_jwt_tokens