{
	email {$LETSENCRYPT_EMAIL}
	metrics {per_host}
	admin localhost:2019
}

http://:2020 {
	metrics /metrics
}

{$DOMAIN} {
	encode gzip zstd
	log {
		output stdout
		format json
	}

	# MQTT over WebSockets via HTTPS
	handle /mqtt {
		reverse_proxy mqtt:9001
	}

	# Grafana dashboard
	handle /grafana* {
		reverse_proxy grafana:3000
	}

	# Backend API
	handle /api* {
		reverse_proxy backend:8000
	}

	# Frontend
	handle {
		reverse_proxy frontend:80
	}
}
