.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar {
  display: flex;
  height: 80px;
  background-color: var(--color-primary-gray1);
  align-items: center;
  padding: 0 5rem 0 1rem;
}