button {
    width: 80px;
    height: 42px;
    background-color: var(--color-primary-blue);
    place-items: center;
    color: white;
    border: 1px groove gray;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary-blue-hover);
}