.car-sprite {
    position: absolute;
    z-index: 5;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.car-heading {
    width: 100%;
    height: 100%;
    /* transition: transform 260ms ease-out; */
    transform-origin: center;
}

.car-body {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.2em solid #111827;
    border-radius: 23.5% 23.5% 17.5% 17.5%;
    box-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.28);
}

.car-window {
    position: absolute;
    top: 16.7%;
    left: 20.6%;
    width: 47%;
    height: 25%;
    border-radius: 12%;
    background: #bfdbfe;
    border: 0.75px solid #1f2937;
}

.car-hood {
    position: absolute;
    top: 50%;
    left: 20.6%;
    width: 47%;
    height: 25%;
    border-radius: 9%;
    background: #374151;
}

.car-headlights {
    position: absolute;
    top: 4.17%;
    left: 14.7%;
    right: 14.7%;
    height: 10.33%;

    display: flex;
    justify-content: space-between;
}

.car-headlights span {
    width: 19.65%;
    height: 100%;
    border-radius: 25%;
    background: #fde68a;
}

.cargo-counter {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-53%, -39.5%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;

    text-shadow:
    -0.12em -0.12em 0 black,
     0.12em -0.12em 0 black,
    -0.12em  0.12em 0 black,
     0.12em  0.12em 0 black;
}