aside {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.parameter-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
  padding-bottom: var(--parameter-padding);
}

.simulation-container {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.slider-area {
  flex: 2;
}

.scenario-area {
  flex: 2;
}

.timer-button-row {
  flex: 1;
  display: flex;
  gap: 8px; 
}

.state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.timer-area {
  display: flex;
  flex-direction: column;    
  align-items: flex-start; 
  gap: 10px;                 
  flex-shrink: 0;            
}

.timer-area p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 1;
}

.timer-area p:last-child {
  font-size: 29px;
  font-weight: bold;
  margin-top: 8px;           
  border-top: 1px solid #000000;
  padding-top: 8px;
  line-height: 1;       
  max-width: 184px;     
}

.score-area {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 160px;
}

.score-area p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.score-area p:last-child {
  font-size: 30px;
  font-weight: bold;
  margin-top: 8px;           
  border-top: 1px solid #000000;
  padding-top: 8px;
  line-height: 1;            
}
