.main-content {
  display: flex;
  height: 100%;
}

.visualize-panel {
  padding: 28px;
  background-color: var(--color-primary-gray2);
  flex: 0 1 25%;
}

.display-field {
  flex: 2;
  background-color: var(--color-primary-gray3);
}

.control-panel {
  padding: 28px;
  background-color: var(--color-primary-gray2);
  flex: 0 1 25%;
}