.table-container {
    --container-radius: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--container-radius);
    background-color: var(--color-primary-gray1);
    overflow: hidden;
}

.title-row th {
    background-color: var(--color-table-gray1);
    text-align: center;
    border: none;
    padding: 12px;
}

table {
    text-align: center;
}  

tr {
    line-height: 16px;
    font-size: 18px;
}

td {
    padding: 6px;
}

tbody:nth-child(even) {
    background-color: var(--color-table-gray2);
}

.visualize {
    width: 100px;
    height: 38px;
    background-color: var(--color-primary-blue);
    place-items: center;
    color: white;
    border: 1px groove gray;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.circle {
    appearance: none;
    -webkit-appearance: none;
    display: inline-grid;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: var(--color-primary-red);
}

.circle.is-active {
    background-color: var(--color-primary-green);
}

.package-input {
    text-align: center;
}

.package-input:disabled {
    cursor: not-allowed;
}

.route-select:disabled {
    cursor: not-allowed;
}

.add-car {
    width: 48px;
    height: 24px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    border-color: black;
    background-color: var(--color-table-gray1);
}

.remove-car {
    width: 20px;
    height: 20px;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    background-color: #e80202;
}

.car-id-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.car-id-color {
    width: 4px;
    height: 22px;
    border-radius: var(--rounded-sm);
}

.route-visibility-button:hover {
    background-color: var(--color-primary-blue-hover);
}