.table-container {
    --container-radius: 10px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--container-radius);
    background-color: var(--color-primary-gray1);
    overflow: hidden;
}

.title-row th {
    background-color: var(--color-table-gray1);
    text-align: center;
    border: none;
    padding: 10px;
}

table {
    text-align: center;
}  

tr {
    line-height: 16px;
    font-size: 18px;
}

td {
    padding: 6px;
}

tbody:nth-child(even) {
    background-color: var(--color-table-gray2);
}

.visualize {
    width: 100px;
    height: 38px;
    background-color: var(--color-primary-blue);
    place-items: center;
    color: white;
    border: 1px groove gray;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.circle {
    appearance: none;
    -webkit-appearance: none;
    display: inline-grid;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: var(--color-primary-red);
}

.circle.is-active {
    background-color: var(--color-primary-green);
}

.package-input::-webkit-inner-spin-button,
.package-input::-webkit-outer-spin-button {
    opacity: 1 !important;
}

.package-input {
    text-align: center;
    background-color: var(--color-table-gray1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 4px 2px 4px 8px;
    font-size: 16px;
    color: inherit;
    cursor: pointer;
    width: 70px;
}

.package-input:disabled {
    cursor: not-allowed;
}

.route-select:disabled {
    cursor: not-allowed;
}

.package-input:focus {
    outline: none;
    border-color: var(--color-primary-blue);
    background-color: var(--color-primary-gray1);
}

.route-select {
    text-align: center;
    background-color: var(--color-table-gray1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 4px 24px 4px 8px;
    font-size: 16px;
    color: inherit;
    cursor: pointer;
    width: 95px;
}

.route-select:focus {
    outline: none;
    border-color: var(--color-primary-blue);
    background-color: var(--color-primary-gray1);
}