header {
    background-color: var(--color-primary-gray1);
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--color-primary-blue);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 58px;
}

.button-container {
    display: grid;
    /* Maakt 2 kolommen die allebei exact even breed zijn (180px) */
    grid-template-columns: 150px 150px; 
    /* Dit zorgt voor een vaste tussenruimte van precies 40px */
    column-gap: 160px; 
    align-items: center;
    height: 100%;
}

.button-container button {
    /* De breedte wordt nu automatisch 180px door de grid-kolom */
    width: 100%; 
    height: 38px;
    padding: 0px;
}